<html>
  <head>
  </head>

  <body>

<div class="block">
<p>Your question: <%= @question %></p>
<p>The answer: <strong><%= @answer %></strong></p>
<%= link_to "Ask a new question", ask_path %>
</div>

  </body>
</html>
